.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 80px);
    padding-top: 70px;
    margin-left: 80px;

    .main{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
    }
}