*{
    margin: 0px;
    padding: 0px;
    font-size: var(--fs-md);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input:active, input:hover{
    outline: none;
    border: none;
}

textarea{
    border: none;
    outline: none;
    resize: none;
}