.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 50px;
    color: var(--white);
    border: none;
    border-radius: var(--br-md);
    cursor: pointer;
    transition: 0.25s;

    svg{
        font-size: var(--fs-xxl);
    }

    h3{
        margin-left: 10px;
        font-size: var(--fs-medium);
        font-weight: var(--fw-light);
    }
}