.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 80px;
    background-color: var(--black);
    padding: 20px 0px;

    .logo{
        width: 35px;
    }

    section{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    article{
        cursor: pointer;
    }
    
    svg{
        width: 35px;
        height: 35px;
        color: var(--white);
    }
}