.container{
    display: grid;
    grid-template-rows: auto 25px;
    aspect-ratio: 6 / 5;
    background-color: rgba(251, 235, 149, 0.4);
    border-radius: 10px;
    width: 100%;
    padding: 15px;

    p{
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: var(--fs-medium);
        font-weight: var(--fw-normal);
        line-height: 25px;
        color: #3C3D43;
    }

    .footer{
        font-size: var(--fs-small);
        color: var(--gray);
    }
}