.header{
    display: grid;
    width: calc(100% - 80px);
    margin-left: 80px;
    padding: 0 6rem;
    padding-top: 20px;
    grid-template-columns: auto 60px;
    gap: 20px;

    @media screen and (min-width: 1400px) {
        padding: 8px 12rem;    
    }

    .searchBar{
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: var(--fs-large);
        width: 100%;

        .field{
            width: 100%;
            border: none;
            padding: 8px 15px;
            outline: none;

            &:active, input:hover{
                outline: none;
                border: none;
            }
        }
    }

    svg{
        font-size: var(--fs-xxl);
        // color: var(--gray)
    }
}